
@{
    ViewBag.Title = "Not Found";
}

<h1>@ViewBag.ErrorMessage</h1>

<div>
    Cliquez <a class="PostLogoutRedirectUri text-center" asp-controller="home" asp-action="RetourWebProject">ici</a> afin de retourner sur le site Web.
</div>