
@{
    ViewData["Title"] = "Remerciements";
}
<br />
<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card-body" id="centerAll">
            <h2 class="card-title" style="color:#0366d6">Je tiens à remercier</h2>
            <br />
            <h3 class="card-title" style="color:#0366d6">Les amis:</h3>
            <div>
                <p>Olivier Hensmans pour son aide, son encouragement et sa disponibilité.</p>
                <p>Mariiana Capela pour son aide, son encouragement.</p>
                <p>Adrian VanHoeke pour son aide, son encouragement.</p>
            </div>
            <br />
            <h3 class="card-title" style="color:#0366d6">Le professeur:</h3>
            <div>
                <p>Jonathan Vanderoost pour m'avoir fait découvrir le ".NET Core 3.0".</p>
            </div>
            <br />
            <h3 class="card-title" style="color:#0366d6">Les Youtubeurs:</h3>
            <div>
                <p>La chaine https://www.youtube.com/playlist?list=PL6n9fhu94yhVkdrusLaQsfERmL_Jh4XmU pour la documentation et les tutoriels.</p>
            </div>
            <br />
            <h3 class="card-title" style="color:#0366d6">Les autres:</h3>
            <div>
                <p>Le site http://www.freepik.com/ pour les photos et les logos.</p>
                <p>Le site https://loading.io/css/ pour leurs animations.</p>
                <p>Le site https://docs.fluentvalidation.net/en/latest/aspnet.html pour la documentation et les tutoriels.</p>
                <p>Le site https://socialsharekit.com/ pour leur bibliothèque Javascript/Css permettant le partage sur les réseaux sociaux.</p>
                <p>Le site https://vatlayer.com/ pour la vérification du numéro de TVA via une API.</p>
                <p>Le site https://www.w3schools.com/ pour la documentation et les tutoriels.</p>
                <p>Le site https://www.entityframeworktutorial.net/ pour la documentation et les tutoriels.</p>
                <p>Le site https://www.mapquest.com/ pour le geocoding via une API.</p>
                <p>Le site https://rebrandly.com/ pour la génération des ShortUrl's via une API.</p>
                <p>Le site https://www.mapbox.com/ pour leur solution de cartographie ainsi que pour la documentation et les tutoriels.</p>
                <p>Le site https://identityserver.io/ pour leur solution de contrôle d'identité et d'accès ainsi que pour la documentation et les tutoriels.</p>
                <p>Le site https://codeseven.github.io/toastr/ pour leur bibliothèque Javascript de notifications à l'utilisateur.</p>
            </div>
            <br />
            <br />
            <h6 class="card-title" style="color:#0366d6">Et tous les autres...</h6>
        </div>
    </div>
</div>


