@model LoggedOutViewModel

@{
    // set this so the layout rendering sees an anonymous user
    ViewData["signed-out"] = true;
}

<div class="logged-out-page">
    <h3>Merci, Vous êtes maintenant déconnecté</h3>

    @if (Model.PostLogoutRedirectUri != null)
    {
        <div>
            Cliquez <a class="PostLogoutRedirectUri" href="@Model.PostLogoutRedirectUri">ici</a> afin de retourner sur le site Web.
        </div>
    }

    @if (Model.SignOutIframeUrl != null)
    {
        <iframe width="0" height="0" class="signout" src="@Model.SignOutIframeUrl"></iframe>
    }
</div>

@section scripts
{
    @if (Model.AutomaticRedirectAfterSignOut)
    {
        <script src="~/js/signout-redirect.js"></script>
    }
}

